* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: aqua;
  border: 1px;
}
