@mixin paragraph {
  color: #FEFCF7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
@mixin h3 {
  font-family: Fraunces 9pt;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
@mixin icon {
  color: #FDD6BA;
  font-family: Fraunces 9pt;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
}
@mixin h2 {
  color: #83888F;
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}
@mixin btn__primery {
    color: #fefcf7;
    text-align: center;
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-decoration: none;
    padding: 16px 31px;
    border-radius: 6px;
    background: #66d2cf;
    transition: all 0.3s ease;
  &:hover {
    background-color: #528684;
  }
}