* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background-color: #ecf0f3;
  font-family: sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 78px);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 300px;
  margin: auto;
  box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 40px;
  color: rgb(70, 70 70);
  font-size: 32px;
  text-align: end;
  margin: 30px auto 40px;
  padding: 15px;
}
button {
  width: 54px;
  height: 48px;
  background-color: #ecf0f3;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
}
.equel {
  width: 130px;
  background-color: #fff;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
